# Nix
.direnv/
.envrc

# Ignore Gradle project-specific cache directory
.gradle
.kotlin
gradle/wrapper/gradle-wrapper.jar

# Ignore Gradle build output directory
build

gradlew

.aider*

# Intellij
.idea

# Emacs backup files
*~
\#*\#
.#*
