name: Release & Deploy
permissions:
  contents: write

on:
  release:
    types: [published]

jobs:
  release:
    runs-on: ubuntu-latest
  env:
    JRELEASER_GPG_SECRET_KEY: ${{ secrets.SIGNING_KEY }}
    JRELEASER_GPG_PUBLIC_KEY: ${{ vars.SIGNING_PUB_KEY }}
    JRELEASER_GPG_PASSPHRASE: ${{ secrets.SIGNING_KEY_PASSWORD }}
    JRELEASER_MAVENCENTRAL_USERNAME: ${{ secrets.SONATYPE_MAVEN_USERNAME }}
    JRELEASER_MAVENCENTRAL_TOKEN: ${{ secrets.SONATYPE_MAVEN_PASSWORD }}
    VERSION: ${{ github.event.release.tag_name }}

    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.event.release.tag_name }}

      - name: Update gradle.properties
        run: |
          VERSION=${{ env.VERSION }}
          sed -i "s/version=.*/version=$VERSION/" gradle.properties

      - name: Run Gradle publish
        run: ./gradlew publish --info

      - name: Run JReleaser deploy
        run: ./gradlew jreleaserDeploy --info

      - name: Commit version update to main
        run: |
          git add gradle.properties
          git commit -m "chore: bump version to $VERSION"
          git push origin HEAD:main
