name: Release & Deploy
permissions:
  contents: write
on:
  push:
    tags: ['v*']
jobs:
  release:
    runs-on: ubuntu-latest
    env:
      JRELEASER_GPG_SECRET_KEY: ${{ secrets.SIGNING_KEY }}
      JRELEASER_GPG_PUBLIC_KEY: ${{ vars.SIGNING_PUB_KEY }}
      JRELEASER_GPG_PASSPHRASE: ""
      JRELEASER_MAVENCENTRAL_USERNAME: ${{ secrets.SONATYPE_MAVEN_USERNAME }}
      JRELEASER_MAVENCENTRAL_TOKEN: ${{ secrets.SONATYPE_MAVEN_PASSWORD }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Run Gradle publish
        run: ./gradlew publish --info
      - name: Run JReleaser deploy
        run: ./gradlew jreleaserDeploy --info
